{% extends "layout.html" %}

{% block content %}   

    <section>
        <h2>Hotel of Hotels Database - About</h2>
        
        <p>This site offers a way for countless travelers to travel across the world with less barriers to find a room that fits their budget and size requirements. This database was designed as the foundation of a travel lodge booking web app, where customers can search for lodging/hotel rooms in certain locations and place orders/make reservations. Both customers and hotels can keep track of customer information, orders, and reserved rooms. This idea was developed by Samuel Leon, with Ed Yeow providing assistance in app/database development.</p>
        <ul>
            <li>Leon Samuel - Founder, Contributing Developer</li>
            <li>Ed Yeow - Contributing developer</li>
        </ul>
    </section>


{% endblock %} 