<!-- Uses layouy.html formatting -->
{% extends "layout.html" %}

{% block content %}
    <!-- Adding new data -->
    <h3>Add New Order</h3>
    <form id="add_order" action="/add_new_order" method ="POST">
        Customer Name:<select name="customer_id" required>
            {% for customer in customers %}
                <option value="{{ customer['customer_id'] }}">{{ customer['first_name'] }} {{ customer['last_name'] }}</option>
            {% endfor %}
            </select>
      Start Date: <input type="date" name="start_date">
      End Date: <input type="date" name="end_date">
        <button type="submit" class="btn btn-secondary">Add</button>
        <button type="reset" class="btn btn-dark">Clear</button>
    </form>
    <br><br>
    
    <!-- Filtering data -->
    <h3>Filter Orders</h3>
    <form id="filter_order" action="/filter_order" method ="POST">
        <input type="text" name="user_filter_input">
        <button type="submit" class="btn btn-secondary">Filter</button>
        <a href="/orders"> <button type="button" class="btn btn-dark">Clear Filters</button></a>
    </form>
    <br><br>
    <br>


    {% if results %} <!-- to write a loop we'll open up a codeblock  -->
        <h3> {{ results }} </h3> <!-- varibles are accessed by using double curly brackets   -->
    {% endif %} <!-- this "endblock" is to close the block   -->
    <br>


    <section class="table-padding">
        {% if orders %}
        <table class="table table-hover">
          <thead>
        
            <tr>
                <!-- Creating header for each row -->
                {% for key in orders[0].keys() %}
                <th scope="col">{{ key }}</th>
                {% endfor %}
                <th scope="col">Edit order</th>
            </tr>
            <tbody>

                <!-- Now, iterate through every company in orders -->
                    {% for company in orders %}
                    <tr>
                        <!-- Then iterate through every key in the current company dictionary to be used in key:value pair-->
                        {% for key in company.keys() %}
                        <td>{{company[key]}}</td>
                        {% endfor %}
                        <td>
                        <a href="/update_order/{{company['order_id']}}"><button type="button" class="btn btn-success">Update</button></a>
                        <a href="/delete_order/{{company['order_id']}}"><button type="button" class="btn btn-danger">Delete</button></a>
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </section>
{% endblock %} 