{% extends "layout.html" %}

{% block content %}

       
    <h3>Edit {{order['order_id']}}'s Information</h3>
        <form id="update_order" action="/update_order/{{order['order_id']}}" method ="POST">
            <input type="hidden" name="order_id" value="{{order['order_id']}}">
            Start Date: <input type="date" name="start_date" value = "{{order['start_date']}}">
            End Date: <input type="date" name="end_date" value = "{{order['end_date']}}">
            <button type="submit" class="btn btn-success">Update</button>
        </form>
        <br><br>

{% endblock %}
